### INTELLIJ ###
.idea
*.iml
*.class

### JAVA ###
*.jar


### MAVEN ###
target/
excel-report-generator/src/test/resources/testReportConfig/IT.json
excel-report-generator/src/test/resources/testReportConfig/ITTemplate.json